ALCHEMY_API_KEY=
ALCHEMY_APP_ID=
ALCHEMY_RPC_URL=
ALCHEMY_RPC_URL_MAINNET=
ALCHEMY_MAINNET_KEY_ID=
WALLET_PRIVATE_KEY=

AZURE_TENANT_ID=
AZURE_APP_ID=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
AZURE_TEST_SECRET=
AZURE_KEYVAULT_URI=
AZURE_KEYVAULT_NAME=
AZURE_RESOURCE_GROUP=